<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webModel">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap in action</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link th:href="@{/css/blog.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:fragment="header">
        <h1>Thymeleaf in Action</h1>
<!--        thymeleaf 中对连接的支持-->
        <a href="/users" th:href="@{~/users}"> 回到首页</a>
    </div>
</body>
</html>