<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webModel">
<body>
<div th:include="~{fragments/header}"></div>

<div class="container blog-content-container" >
    <h3 th:text="${userModel.title}"></h3>
    <form action="/users" th:action="@{/users}" method="post" th:object="${userModel.user}"> <!--绑定userModel 中的对象-->
        <!--                                           *{id} 绑定当前标签中绑定的object对象中的属性-->
        <input type="hidden" name="id" th:value="*{id}">
        邮箱: <input type="text" class="form-control" name="email" th:value="*{email}">
        <br>
        名称: <input type="text" name="name" class="form-control" th:value="*{name}">
        <br>
        <input type="submit" class="btn btn-primary" th:value="提交">
    </form>

    <div class=" col-lg-4 col-lg-offset-4  col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 container col-center-block" style="margin-top: 10em">
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
</body>
</html>